html,
body {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.08em;
  text-decoration-color: #989898;

  &:hover,
  &:focus-visible {
    text-decoration-color: currentColor;
  }
}

ul {
  list-style-type: "-\202F";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bg {
  background: #000000;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 5vmin;
}

.monitor {
  background: #121212;
  border: 3vmin solid #989898;
  padding: 3vmin;
  margin-block-end: 10vmin;
  flex: 1 1 100%;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  container-name: ui;
  container-type: inline-size;
  font-family: "VT323", Courier, monospace;
  text-transform: uppercase;
  color: #eeff00;
  font-size: 3cqi;
}

.monitor h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.ui {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #eeff00 transparent;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reveal,
.increase {
  transform: translateY(calc(0.5em - 1vmin));
  width: 2vmin;
  height: 2vmin;
  background: #ff0000;
  border-radius: 50%;
  border: 0;
  box-shadow: inset -0.1vmin -0.1vmin 0 #514444;
}

.reveal:active,
.increase:active {
  box-shadow: inset 0vmin 0vmin 0 #514444
}

.reveal {
  position: absolute;
  left: -2.5vmin;
}

.controls {
  position: absolute;
  top: 100%;
  border: 3vmin solid #989898;
  background: #121212;
}

.controls.left {
  left: -3vmin;
}

.controls.right {
  right: -3vmin;
}

.controls.middle {
  left: 50%;
  transform: translateX(-50%);
}

.fail-list {
  display: flex;
  gap: 1cqi;
  padding-inline: 1cqi;
}

.fail-list.right {
  flex-direction: row-reverse;
}

.fail-list li,
.inactive {
  color: #343434;
}

.fail-list li.active,
.active {
  color: #eeff00;
}

.increase {
  position: absolute;
  left: -2.5vmin;
  top: 1vmin;
}

.right .increase,
.increase.right {
  left: unset;
  right: -2.5vmin;
}

.points-overview {
  padding: 1vmin 1vmin;
  background: #eeff00;
  color: #121212;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  white-space: pre;
}